:root {
  --mainabout: flex;
  --mainnav: space-between;
  --mainnavbar: row;
  --maincolor: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}
.restaurant-area {
  height: 400vh;
}
body {
  font-family: Poppins, sans-serif;
}
/*.gallery-containor {
    height: 220vh;
  }*/
/*top-header*/
.image-field {
  background-image: url(../img/hotel-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/*.gallery-containor {
    height: 220vh;
  }*/
/*top-header*/

.navbar {
  display: var(--mainabout);
  justify-content: var(--mainnav);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 58%);
  color: whitesmoke;
}
.sub-menu-1 {
  display: none;
}
.nav-bottom-title ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: #b6740a;

  margin-top: 10px;
}
.nav-bottom-title ul li:hover .sub-menu-1 ul {
  display: block;
  margin-right: 100px;
  text-align: center;
  height: 15vh;
  width: 20px;
}
.nav-bottom-title li:hover .sub-menu-1 ul li {
  padding: 5px;
}
.nav-bottom-title ul li:hover .sub-menu-1 ul li a {
  color: whitesmoke;
  font-size: 16px;
}

i {
  padding-right: 5px;
  font-size: 16px;
}
.navbar-text {
  display: var(--mainabout);
  margin-left: 2em;
}
.nav-item ul {
  display: var(--mainabout);
  justify-content: var(--mainnav);
  padding-right: 15px;
  cursor: pointer;
  list-style: none;
  margin-top: 1em;
}
.nav-containor {
  margin: 15px;
}
.nav-item ul li a.active,
.nav-item ul li a:hover {
  border: 1px solid #f19a0d;
  border-radius: 2px;
}
.nav-bottom-title ul li a {
  padding: 10px;
  border-bottom: 5px solid transparent;
}

.nav-item ul li a {
  color: #ffffff;
  margin: 1em;
  text-decoration: none;
  padding: 5px 13px;
}
.nav-bottom-title ul li a {
  padding: 21px;
  border-bottom: 2px solid transparent;
  transition: all 0.8s ease;
}
.nav-bottom-title ul li a:hover {
  border-bottom: 2px solid #885606;
}
.nav-bottom-text {
  display: var(--mainabout);
  justify-content: var(--mainnav);
  background-color: var(--maincolor);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 58%);
}

.nav-bottom-title ul {
  display: var(--mainabout);
}
.nav-bottom-title ul li {
  margin: 20px;
  list-style: none;
  /*  padding-right: 40px;*/
}
.nav-img img {
  margin: 0px 30px;
}
.nav-bottom-title ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
.nav-bottom-page {
  color: var(--maincolor);
  display: var(--mainabout);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.nav-bottom-page h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.nav-bottom-page p {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px) !important;
}

.mobile-menu {
  position: fixed;
  right: 0px;
  top: 14vh;
  height: 58vh;
  background-color: #b6740a;
  cursor: pointer;
  width: 50%;
}
.mobile-menu {
  display: hidden;
}

.hidden {
  transform: translateX(100%);
}
.mobile-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}
.mobile-menu ul li {
  text-align: center;
  margin: 30px 0px;
  list-style: none;
}
.mobile-menu ul li:hover {
  display: block;
  background-color: rgb(189, 137, 75);
  cursor: pointer;
  padding: 10px;
}
/*RESTAURANT ROOM*/
.section-room {
  display: var(--mainabout);
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
}
.section-action h4 {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  color: black;
  cursor: pointer;
  text-align: center;
}
.section-action h4:hover {
  color: #885606;
}
.section-action h6 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #898989;
  margin-top: 0.5em;
}
.section-action {
  padding: 2em;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.section-action:hover {
  border-bottom: 2px solid #f19a0d;
  transition: all 0.3s ease-in-out;
}
/*menu-restaurant*/
.food-menu-containor {
  display: var(--mainabout);
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}
.food-menu-item {
  display: flex;
  justify-content: space-evenly;
  /* flex: 1 1 600px;*/

  margin-bottom: 2rem;
}
.food-menu-containor img {
  display: block;
  width: 120px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  /*margin-left: 40px;*/
}
.food-description {
  margin: auto 2rem;
 
}
.footer-area{
  margin-top: 2em;
}
.food-description h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: black;
  cursor: pointer;
}
.food-description p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  margin-top: 0.5em;
}
.food-description h2:hover {
  color: #f19a0d;
}
/*.food-image:hover img {
  border-bottom: 2px solid #f19a0d;
  cursor: pointer;
  padding: 20px;
  width: 80%;
}
.food-image img {
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}*/
.food-description h6 {
  font-size: 15px;
  font-style: normal;
  color: #898989;
}
.food-flex {
  padding-right: 60px;
}
/*reservation*/
.reservation-field {
  background-image: url(../img/Restaurants-47.png);
  background-position: center;
  background-repeat: no-repeat;
  
}
.reservation-title {
  text-align: center;
  padding-top: 1em;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
}
.main {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1em 0;
  
}
.main-area {
  padding: 2em 0;
}
.reservation-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;

  /* justify-content: space-evenly;*/
}
.reservation-contact input {
  padding: 0.4em;
  margin-top: 40px;
  font-size: 16px;

  width: 60%;
  margin-left: 1.5em;
  outline: none;
}
.reservation-contact .reservation-tag {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.reservation-tag-1{
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.reservation-textfield .hotel-textarea {
  background-color: transparent;
  width: 90%;
  border: 2px solid #fff;
  height: 120px;
  margin-top: 2em;
  margin-left: 3.5em;
  outline: none;
}
::placeholder{
  color: #f5ebeb;
  font-style: normal;
  font-weight: 200;
  outline: none;
 
}
.far{
  position: relative;
  left:11.5em;
  color: #ffffff;
}
.hotel-textarea {
  color: #ffffff;
  font-size: 10px;
}
.button {
  margin-top: 1em;
  text-align: center;
}
.btn {
  padding: 0.9em;
  width: 20%;
  font-size: 16px;
  color: #ffffff;
  background-color: #f19a0d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #444444;
}
/*gallery-about*/
.gallery-about {
  text-align: center;
}
.gallery-about list-line {
  font-size: 0;
}
.list-line li a {
  padding: 15px;
  border-bottom: 2px solid transparent;
}
.list-line li a:hover {
  border-bottom: 2px solid #b6740a;
}
.list-line {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.gallery-about ul li {
  font-size: 16px;

  margin-top: 5em;
}
.list-line li a {
  text-decoration: none;
}
.list-line > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.list-line li a {
  color: black;
  transition: all 0.8s ease;
}
.gallery-about ul li a:hover {
  color: #b6740a;
}
/*image=gallery*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-gap: 1em;
  margin-top: 3em;
  justify-content: center;
}
.gallery-item {
 position: relative;
  overflow: hidden;
  transition: all 0.8s ease;
  cursor: pointer;
}

.team-img:before {
  position: absolute;
  bottom: 5px;
  z-index: 5;

  content: "";
  visibility: hidden;
  height: 300px;
  width: 270px;
  /* background: rgb(206, 112, 24);*/
  background: #f8c26c;
  opacity: 0.5;
  transition: all 2s ease;
}
.gallery-item:hover .team-img:before {
  visibility: visible;
}
.team-img {
  text-align: center;
}
.text {
  position: absolute;
  bottom: 20px;
  left: 18px;
  right: 15px;
  color: #ffffffc2;
  z-index: 10;
  font-size: 18px;
  font-weight: normal;
  opacity: 0;
  visibility: hidden;
}

.gallery-item:hover .text {
  opacity: 1;
  visibility: visible;
}
/*footer*/
.section-footer {
  background-image: url(../img/footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*.footer-area {
  padding-top: 80px;
}*/
.section-footer {
  display: var(--mainabout);
  justify-content: space-between;
  color: whitesmoke;
}
.section-content {
  margin-left: 50px;
}
.section-hotel {
  padding-top: 90px;
}

.section-content h5 {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 400;
}
.footer-icon {
  margin-left: 10px;
  padding-top: 50px;
}
.footer-icon i {
  padding-right: 15px;
}
.section-content {
  padding-top: 10px;
}

.footer-tag i {
  margin-left: 10px;
}
.section-content ul {
  list-style: none;
  padding-top: 20px;
}
.section-content ul li {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.section-content h1 {
  margin-left: 10px;
  padding-top: 55px;
}
.section-content ul li:hover {
  color: #b6740a;
}
.section-content {
  list-style: none;
}
.section-content ul li:hover {
  color: #b6740a;
}
.section-content h2 {
  padding-right: 50px;
  padding-top: 55px;
  margin-left: 10px;
}
.footer-bottom {
  background-color: black;
  color: white;
  padding: 1em;
  text-align: center;
  color: #acacac;
  font-size: 14px;
}
.footer-field-1 {
  padding-bottom: 40px;
}
.footer-field h1 {
  padding-bottom: 60px;
}
.footer-bootom-2 img {
  margin-left: 1em;
}
.section-test img {
  margin-top: 3em;
}
.hotel-textarea::placeholder{
  color: #ffffff;
  
  padding-left: 1em;
  padding-top: 1em;
  font-size: 16px;
}
/*media-query*/
@media screen and (max-width: 600px) {
  .nav-bottom-page p {
    font-size: 18px;
  }
  .section-content h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
  .nav-bottom-title {
    display: none;
  }
  .nav-img img {
    height: 40px;
  }
  .image-field {
    height: 250px;
  }
  .nav-bottom-page {
    margin-top: 2em;
  }
  .nav-bottom-page h1 {
    margin-top: 3em;
  }
  

  .section-footer {
    flex-direction: column;
  }
  .section-test img {
    height: 80px;
  }
  .section-content {
    margin-left: 30px;
  }
  .section-icon {
    padding: 30px;
  }
  .section-icon img {
    height: 70px;
  }
  .nav-bottom-text {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .list-line > li {
    display: inline-block !important;
  }
  .gallery-about ul li {
    margin-top: 2em;
  }
  @media screen and (max-width: 600px) {
    .nav-bottom-page p {
      font-size: 18px;
    }
    .section-content h1 {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 700px) {
    .navbar {
      display: none;
    }
    .nav-bottom-title {
      display: none;
    }
    .nav-img img {
      height: 40px;
    }
    .image-field {
      height: 250px;
    }
    .nav-bottom-page {
      margin-top: 2em;
    }
    .nav-bottom-page h1 {
      margin-top: 3em;
    }
  
    .section-footer {
      flex-direction: column;
    }
    .section-test img {
      height: 80px;
    }
    .section-content {
      margin-left: 30px;
    }
    .section-icon {
      padding: 30px;
    }
    .section-icon img {
      height: 70px;
    }
    .nav-bottom-text {
      height: 50px;
      position: fixed;
      top: 0;
      width: 100%;
    }
    .list-line > li {
      display: inline-block !important;
    }
    .gallery-about ul li {
      margin-top: 2em;
    }
  .section-room{
    flex-direction: column;
  }
  .food-menu-item{
    flex-direction: column;
  }
  .food-menu-containor img{
    height: 200px;
    width: 270px;
   padding: 1em;
  }
  .reservation-row{
    flex-direction: column;
  }
 .reservation-contact input{
   margin-top: 0;
   padding: 10px;
 }
 .reservation-contact .reservation-tag {
  width: 65%;
  padding-right: 50px;
 }
 .reservation-tag-1{
   margin-right: 2em;
   
 }
 
 .main{
   width: 90%;
   padding: 0px;
  
 }
 .button{
   margin-top: 0px;
 }
 .reservation-title {
   padding-top: 0.1em;
 }
 .reservation-field{
   height: 100vh;
 }
 .far{
   top: 30px;
   left: 15em;
 }
 .reservation-row{
   gap: 0.4em;
 }
 .reservation-textfield .hotel-textarea {
 /*  margin-left: 4.5em;*/
   width: 80%;

 }
 .reservation-contact input{
   width: 80%;
 }
 .hotel-textarea::placeholder{
   color: #ffffff;
   font-size: 13px;
 }
 .btn {
   width: 55%;
 }
  .food-description{
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .nav-content {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 30px;
    margin-top: 15px;
  }

  .sub-menu-1 {
    display: none;
  }
  .mobile-menu ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #b6740a;
  
    margin-top: 10px;
  }
  .mobile-menu ul li:hover .sub-menu-1 ul {
    display: block;
    margin-right: 100px;
    text-align: center;
    height: 15vh;
    width: 20px;
  }
  .mobile-menu li:hover .sub-menu-1 ul li {
    padding: 5px;
  }
  .mobile-menu ul li:hover .sub-menu-1 ul li a {
    color: whitesmoke;
    font-size: 16px;
  }
}
